body{
    margin: 0;
    background-color: beige;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 50% 0%;
}
.header{
    background-color: rgb(28, 30, 31, 0.5);
    height: 60px;
    position: fixed;
    width: 100%;
}
a[target="home"]{
    margin-left: 25%;
}
a{
    margin-left: 10%;
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    text-decoration: none;
    color: rgb(152 255 5);
    font-size: 15px;
    transition: 0.5s;
}
.s_avatar{
    position: fixed;
    right: 15px;
    top: 10px;
}
.submit{
    height: 29px;
    width: 56px;
    border-radius: 25px;
    border: none;
    background-color: #999999;
    color: aliceblue;
}
.search{
    margin-bottom: 10px;
    height: 29px;
    width: 0px;
    outline: none;
    border: none;
    margin-left: 9px;
    background-color: transparent;
}
.submit_s{
    position: flex;
}
.search_s{
    position: relative;
    height: 29px;
    width: 73px;
    background-color: white;
    align-items: center;
    align-content: center;
    border-radius: 25px;
}
.search_s:hover .search{
    margin-bottom: 10px;
    height: 29px;
    width: 141px;
    outline: none;
    border: none;
    margin-left: 9px;
    background-color: transparent;
    transition: 0.5s;
}
.search_s:hover{
    position: relative;
    height: 29px;
    width: 210px;
    background-color: white;
    align-items: center;
    align-content: center;
    border-radius: 25px;
    box-shadow: 3px 5px 17px black;
    transition: 0.5s;
}
.submit:hover{
    height: 29px;
    width: 56px;
    border-radius: 25px;
    outline: none;
    background-color: rgb(152 255 5);
    border: 0px;
    color: rgb(130, 149, 165);
}